extends layout


block content
  - const drinks = require('../data/finalDrinks.json')
  - const shots = drinks.filter(drink => drink.category === 'shots')
  - const brewedBeers = drinks.filter(drink => drink.category === 'brewed beer')
  - const bottledBeers = drinks.filter(drink => drink.category === 'bottled beer')
  - const softDrinks = drinks.filter(drink => drink.category === 'soft drinks')
  - const dishes = drinks.filter(drink => drink.category === 'food')
  main.drinks--background 
    .drinks--wrapper
      .table--container
        table.table
          caption.subtitle.table--title Csapolt Sörök
          thead.table--header
            td Megnevezés
            td Pohár 
            td Korsó 
          each drink in brewedBeers 
            tr.table--items 
              td.drinks--name= drink.name
              td #{drink.smallPrice} Ft
              td #{drink.largePrice} Ft
      .table--container     
        table.table
          caption.subtitle.table--title Üveges Sörök
          thead.table--header
            td Megnevezés
            td Ár 
          each drink in bottledBeers 
            tr.table--items 
              td.drinks--name= drink.name
              td #{drink.smallPrice} Ft
      .table--container  
        table.table
          caption.subtitle.table--title Rövid Italok
          thead.table--header
            td Megnevezés
            td 3 cl 
            td 5 cl
          each drink in shots 
            tr.table--items 
              td.drinks--name= drink.name
              td.drinks--price #{drink.smallPrice} Ft
              td.drinks--price #{drink.largePrice} Ft
      .table--container   
        table.table
          caption.subtitle.table--title Üditők
          thead.table--header
            td Megnevezés
            td Ár 
          each drink in softDrinks 
            tr.table--items 
              td.drinks--name= drink.name
              td #{drink.smallPrice} Ft       
      .table--container#etel   
        table.table
          caption.subtitle.table--title Sörkorcsolyák
          thead.table--header
            td Megnevezés
            td Ár 
          each dish in dishes 
            tr.table--items 
              td.drinks--name= dish.name
              td #{dish.smallPrice} Ft       