extends layout


block content
  - const drinks = require('../data/finalDrinks.json')
  - const tapBeers = drinks.filter(drink => drink.category === 'tap beer')
  - const bottledBeers = drinks.filter(drink => drink.category === 'bottled beer')
  - const gins = drinks.filter(drink => drink.category === 'gin') 
  - const liqueurs = drinks.filter(drink => drink.category === 'liqueur')
  - const rum = drinks.filter(drink => drink.category === 'rum')
  - const tequila = drinks.filter(drink => drink.category === 'tequila')
  - const vodka = drinks.filter(drink => drink.category === 'vodka')
  - const whiskey = drinks.filter(drink => drink.category === 'whiskey')
  - const softDrinks = drinks.filter(drink => drink.category === 'soft drinks')
  - const dishes = drinks.filter(drink => drink.category === 'food')
  main.drinks--background 
    .drinks--wrapper
      .table--container
        table.table
          caption.subtitle.table--title Sörök
          thead.table--header
            td Csapolt Sörök
            td Pohár 
            td Korsó 
          tr.table--gap 
          each drink in tapBeers 
            tr.table--items 
              td.drinks--name= drink.name
              td #{drink.smallPrice} Ft
              td #{drink.largePrice} Ft
          thead.table--header
            td Üveges Sörök
            td Ár
          tr.table--gap 
          each drink in bottledBeers 
            tr.table--items 
              td.drinks--name= drink.name
              td #{drink.smallPrice} Ft
      .table--container  
        table.table
          caption.subtitle.table--title Rövid Italok
          thead.table--header
            td Gin
            td 3 cl 
            td 5 cl
          tr.table--gap 
          each drink in gins 
            tr.table--items 
              td.drinks--name= drink.name
              td.drinks--price #{drink.smallPrice} Ft
              td.drinks--price #{drink.largePrice} Ft
          thead.table--header
            td Likőr
            td 3 cl 
            td 5 cl
          tr.table--gap 
          each drink in liqueurs 
            tr.table--items 
              td.drinks--name= drink.name
              td.drinks--price #{drink.smallPrice} Ft
              td.drinks--price #{drink.largePrice} Ft
          thead.table--header
            td Rum
            td 3 cl 
            td 5 cl
          tr.table--gap 
          each drink in rum 
            tr.table--items 
              td.drinks--name= drink.name
              td.drinks--price #{drink.smallPrice} Ft
              td.drinks--price #{drink.largePrice} Ft
          thead.table--header
            td Tequila
            td 3 cl 
            td 5 cl
          tr.table--gap 
          each drink in tequila 
            tr.table--items 
              td.drinks--name= drink.name
              td.drinks--price #{drink.smallPrice} Ft
              td.drinks--price #{drink.largePrice} Ft
          thead.table--header
            td Vodka
            td 3 cl 
            td 5 cl
          tr.table--gap
          each drink in vodka 
            tr.table--items 
              td.drinks--name= drink.name
              td.drinks--price #{drink.smallPrice} Ft
              td.drinks--price #{drink.largePrice} Ft
          thead.table--header
            td Whisky
            td 3 cl 
            td 5 cl
          tr.table--gap
          each drink in whiskey 
            tr.table--items 
              td.drinks--name= drink.name
              td.drinks--price #{drink.smallPrice} Ft
              td.drinks--price #{drink.largePrice} Ft
      .table--container   
        table.table
          caption.subtitle.table--title Üditők
          thead.table--header
            td Megnevezés
            td Ár
          tr.table--gap 
          each drink in softDrinks 
            tr.table--items 
              td.drinks--name= drink.name
              td #{drink.smallPrice} Ft       
      .table--container#etel   
        table.table
          caption.subtitle.table--title Sörkorcsolyák
          thead.table--header
            td Megnevezés
            td Ár
          tr.table--gap 
          each dish in dishes 
            tr.table--items 
              td.drinks--name= dish.name
              td #{dish.smallPrice} Ft       